@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}

.sideBorder {
  background: linear-gradient(
    180deg,
    #e70000,
    #ff9119 15%,
    #ff9119 85%,
    #00ae44
  ) !important;
  height: 364%;
  z-index: 10;
  width: 10px;
  position: absolute;
}

.footer {
  background: url("https://astral-paints-landing.vercel.app/Images/footer/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: 42;
}

.emailInput {
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px;
  width: 375px;
}

.emailBtn {
  padding: 18px;
  position: absolute;
  right: 70px;
  bottom: 422px;
}
